.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 250px;
    padding-bottom: 50px;
}
.navegation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    list-style: none;
    margin-top: 43px;
}
.woman {
    padding-left: 50px;
}
.kid {
    padding-left: 50px;
}
.costumize {
    padding-left: 50px;
    text-decoration: none;
    color: black;
}